<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.videoapp.mapper.VideoMapper">

    <select id="findVideoById" resultType="Video">
        select *
        from video
        where id = #{id}
    </select>

    <select id="findVideoByVid" resultType="Video">
        select *
        from video
        where vid = #{vid}
    </select>

    <select id="findVideoList" resultType="Video">
        SELECT *
        from video
        <!-- mybatis的特有标签 -->
        <where>
            is_deleted = 0  <!-- 查没有删的视频 -->
            <if test="keyword != null and keyword != ''">
                and title like #{keyword}          <!-- 成立则执行标签内的sql -->
            </if>
        </where>
        order by createTime ASC  <!-- 改为desc为倒序 -->
    </select>

    <select id="findVideoTotal" resultType="java.lang.Long">
        select count(*)
        from video
        <where>
            is_deleted = 0
            <if test="keyword != null and keyword != ''">
                and title like #{keyword}
            </if>
        </where>
        order by createTime ASC
    </select>

</mapper>